.page-cart {
  .cart-heading {
    display: flex;
    border-bottom: 2px solid #000;
    padding-bottom: 30px;
    margin-bottom: 50px;

    p {
      font-size: 25px;
      font-weight: 600;
      margin: 0;
    }

    .heading-product {
      width: 60%;
    }

    &-gr {
      width: 40%;
      display: flex;

      P {
        width: 50%;
      }
    }
  }

  .cart-product {
    .cart-items {
      display: flex;
      align-items: center;
      position: relative;

      &:not(:last-child) {
        border-bottom: 1px solid #ccc;
        padding-bottom: 20px;
        margin-bottom: 20px;
      }

      .product {
        width: 60%;
        display: flex;
        align-items: center;

        &-img {
          width: 140px;
          height: 140px;
          display: flex;
          align-items: center;
          justify-content: center;
          border: 1px solid #ccc;
          flex-shrink: 0;
          overflow: hidden;
          margin-right: 20px;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }

      .detail {
        width: 40%;
        display: flex;
        align-items: center;
      }
    }


  }
}

.cart-quantity {

  width: 50%;
  display: flex;
  align-items: center;
  justify-content: centers;
  font-size: 30px;
  font-weight: 700;

  .txt {
    width: 50px;
    text-align: center;
    margin: 0 10px;
  }

  .sub,
  .plus {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 1px solid #ccc;
    cursor: pointer;

  }
}

.cart-price {
  width: 50%;

  .price {
    font-size: 25px;
    font-weight: 700;
  }
}

.cart-delete {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);

  button {
    background: none;
    border: none;
  }

  svg {
    height: 1.5rem;
    width: 1.5rem;
  }
}
.cart-total {
  font-size: 35px;
  font-weight: 700;
  text-align: right;
  margin: 50px 0 0;

}