#main {
    min-height: 70vh;
    padding-top: 150px;
}

.box-sec {
    &:not(:last-child) {
        margin-bottom: 100px;
    }
}


.inner {
    width: 100%;
    max-width: calc(1200px + 6vw);
    padding: 0 3vw;
    margin: 0 auto;
}

.page-ttl {
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    margin: 0 0 100px;
}



.hide-content {
    display: none;
}

.c-title01 {
    font-size: 35px;
    text-align: center;
    margin: 0 0 50px;
}