.list-products {
    display: flex;
    flex-wrap: wrap;
    gap: 50px 30px;

    .item {
        width: calc((100% - 60px) / 3);
    }
}

.product {
    &-card {
        .card-img {
            width: 100%;
            height: 300px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid #ccc;
            overflow: hidden;
            margin: 0 0 20px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .card-ttl {
            font-size: 20px;
            margin-bottom: 10px;
        }

        .price {
            font-size: 25px;
            font-weight: 700;
        }
    }

    &-detail {
        .inner {
            display: flex;
            justify-content: space-between;
        }

        .box-img,
        .box-desc {
            width: calc(50% - 20px);
            flex-shrink: 0;

            .desc-ttl {
                font-size: 25px;
                margin: 0 0 20px;
            }

            .price {
                font-size: 30px;
                font-weight: 700;
                margin: 0 0 20px;
            }

            .sec {
                margin: 0 0 30px;
            }
        }

        .box-img {
            border: 1px solid #000;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                width: 100%;
                height: 1005;
                object-fit: cover;
            }
        }
    }
}

.btn-addtocard {
    width: 180px;
    height: 60px;
    margin-top: 20px;

    button {
        width: 100%;
        height: 100%;
        background: #2d2d40;
        color: #fff;
        font-size: 22px;
        cursor: pointer;
    }
}